.footer__top {
    padding-top: 63px;
    padding-bottom: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff80;
    font-weight: 500;
    font-size: 50px;
}

.footer__item:last-child {
    position: relative;
}

.footer__item:last-child::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: -8%;
    top: -19%;
    bottom: -5px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background: var(--color-accent);
}

.footer__img {
    width: 100%;
}

.footer__main {
    display: flex;
    justify-content: space-between;
    padding-top: 101.64px;
    padding-bottom: 142px;
}

.address__contact {
    width: 263px;
    margin-bottom: 47px;
}

.address__text {
    display: block;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
    color: #a6a6a6;
    margin-bottom: 12px;
}

.address__text--margin {
    margin-bottom: 24px;
}

.address__mail {
    display: block;
    font-weight: 400;
    font-size: 42px;
    margin-bottom: 24px;
}

.address__tel {
    display: block;
    font-weight: 400;
    font-size: 42px;
}

.address__socials-list {
    display: flex;
    gap: 45px;
}

.footer__about {
    display: flex;
    gap: 166px;
}

.footer__info {
    max-width: 203px;
}

.footer__info:last-child {
    max-width: 221px;
}

.footer__text {
    display: block;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
    color: #a6a6a6;
    margin-bottom: 30px;
}

.footer__about-info h4 {
    display: block;
    font-weight: 400;
    font-size: 42px;
    margin-bottom: 15px;
}

.footer__about-info p {
    display: block;
    font-family: var(--second-family);
    font-size: 20px;
    color: #a6a6a6;
    margin-bottom: 34px;
}

.footer__bottom {
    background: #303030;
    padding-top: 28px;
    padding-bottom: 29px;
}

.footer__copyright {
    font-family: var(--second-family);
    font-weight: 500;
    line-height: 1.94;
    color: #ffffff99;
}

.footer__copyright span {
    font-weight: 700;
}