:root {
    --font-family: "Oswald", sans-serif;
    --second-family: 'Archivo', sans-serif;
    --bg-color-dark: #141414;
    --color-light: #fff;
    --bg-color-gray: #979797;
    --bg-light: #e3e3de;
    --color-accent: #f47521;
    --transition: all .4s;
}

html, body {
    scrollbar-width: thin;
    scrollbar-color: var(--color-accent) #1414144d;
}

.body {
    font-family: var(--font-family);
    color: var(--color-light);
    background-color: var(--bg-color-dark);
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.main__about {
    padding: 146px 130px 97px 216px;
}

.main__timetable {
    padding-top: 103px;
}

.container {
    max-width: 1723px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.container-big {
    max-width: 1950px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

/* burger-icon */
.burger-icon {
    display: none;
    width: 26px;
    height: 23px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 26px;
    height: 3.5px;
    background: var(--color-light);

    transition: var(--transition);
}

.burger-icon:hover span,
.burger-icon:hover span::before,
.burger-icon:hover span::after {
    background: var(--color-accent);
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: -0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: -0px;
    transform: rotate(-45deg);
}

/* button */
.button {
    border-left: 4px solid var(--color-light);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 213px;
    height: 76px;
    background: var(--color-accent);
    font-weight: 500;
    font-size: 20px;
    color: var(--color-light);

    transition: var(--transition);
}

.button:hover {
    border-left: 4px solid var(--color-accent);
    background: var(--color-light);
    color: var(--color-accent);
}

/* link */
.full-link {
    background: var(--color-accent);
    width: 100%;
    height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
}

.full-link path {
    transition: var(--transition);
}

.full-link:hover path {
    stroke: var(--color-light);
}

.link-text {
    font-family: var(--second-family);
    font-weight: 700;
    line-height: 1.44;
    letter-spacing: 0.1em;
    color: var(--bg-color-dark);

    transition: var(--transition);
}

.full-link:hover .link-text {
    color: var(--color-light);
}

/* ===================== */

