.header__top {
    padding-top: 47px;
    font-family: var(--second-family);
}
.header__top-inner {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff80;
    padding-bottom: 51.5px;
}
.header__logo {
    max-width: 198px;
    z-index: 12;
}
.header__logo img {
    width: 100%;
}
.header__add {
    display: flex;
    gap: 36px;
    align-items: center;
}
.header__cart {
    position: relative;
}
.header__cart::before {
    content: '2';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 11px;
    left: 27px;
    width: 18px;
    height: 18px;
    background: var(--color-accent);
    border-radius: 50%;
}
.header__cart path,
.header__search path{
    transition: var(--transition);
}
.header__cart:hover path,
.header__search:hover  path{
    fill: var(--color-accent);
}
.nav__list {
    display: flex;
    gap: 3vh 50px;
    font-weight: 600;
    font-size: 22px;
}
.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}
.nav__link::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -4px;
    left: -14.5px;
    width: 40px;
    height: 40px;
    background: var(--color-accent);
    border-radius: 50%;

    opacity: 0;
    transition: var(--transition);
}
.nav__link:hover::before {
    opacity: 1;
}
/* ===================== */
.hero__inner {
    padding-top: 76px;
    position: relative;
}
.hero__title {
    display: block;
    font-weight: 600;
    font-size: 198px;
    line-height: .98;
    color: var(--color-light);
    max-width: 1073px;
    transform: translateX(-0.9%);
}
.hero__inner-img {
    max-width: 1143px;
    position: absolute;
    bottom: -9%;
    right: 0;
}
.hero__inner-img img {
    width: 100%;
}
.hero__info {
    position: relative;
    margin-top: -2.1%;
}
.hero__img {
    width: 100%;
}
.hero__arrow {
    background: var(--color-accent);
    width: 122px;
    height: 122px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: -61px;
    left: 50%;
    transform: translateX(-50%);

    transition: var(--transition);
}
.hero__arrow:hover {
    transform: translateX(-50%) scale(1.03);
    box-shadow: 0 8px 16px #00000033;
}
.hero__list {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(3, 1fr);
    color: var(--bg-color-dark);
}
.hero__item {
    background: var(--bg-light);
    transition: var(--transition);
}
.hero__item:hover {
    background-color: var(--color-accent);
    transform: translateY(-4px);
    border-color: var(--bg-color-dark);
}
.hero__link {
    display: block;
    height: 396px;
    padding: 56px 42px;
    position: relative;
}
.hero__subtitle {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.2em;
    color: var(--color-accent);
    margin-bottom: 20px;

    transition: color 0.4s ease;
}
.hero__link:hover .hero__subtitle {
    color: var(--bg-color-dark);
}
.hero__list-title {
    font-weight: 600;
    font-size: 42px;
    color: var(--bg-color-dark);

    transition: color 0.4s ease;
}
.hero__link:hover .hero__list-title {
    color: var(--color-light);
}
.hero__start {
    font-family: var(--second-family);
    font-weight: 700;
    line-height: 1.44;
    letter-spacing: 0.1em;

    position: absolute;
    bottom: 52.72px;
}
.hero__next {
    position: absolute;
    bottom: 52.72px;
    right: 42.44px;
}