@import "fonts.css";
@import "reset.css";

:root {
    --font-family: "Oswald", sans-serif;
    --second-family: 'Archivo', sans-serif;
    --bg-color-dark: #141414;
    --color-light: #fff;
    --bg-color-gray: #979797;
    --bg-light: #e3e3de;
    --color-accent: #f47521;
    --transition: all .4s;
}

.body {
    font-family: var(--font-family);
    color: var(--color-light);
    background-color: var(--bg-color-dark);
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1723px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.container-big {
    max-width: 1950px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

/* ========================= */
.header__top {
    padding-top: 47px;
    font-family: var(--second-family);
}

.header__top-inner {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff80;
    padding-bottom: 51.5px;

}

.header__logo {
    max-width: 198px;
    z-index: 12;
}

.header__logo img {
    width: 100%;
}

.header__add {
    display: flex;
    gap: 36px;
    align-items: center;
}

.header__cart {
    position: relative;
}

.header__cart::before {
    content: '2';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 11px;
    left: 27px;
    width: 18px;
    height: 18px;
    background: var(--color-accent);
    border-radius: 50%;
}

.nav__list {
    display: flex;
    gap: 3vh 50px;
    font-weight: 600;
    font-size: 22px;
}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -4px;
    left: -14.5px;
    width: 40px;
    height: 40px;
    background: var(--color-accent);
    border-radius: 50%;

    opacity: 0;
    transition: var(--transition);
}

.nav__link:hover::before {
    opacity: 1;
}

.burger-icon {
    display: none;
    width: 26px;
    height: 23px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 26px;
    height: 3.5px;
    background: var(--color-light);

    transition: var(--transition);
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: -0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: -0px;
    transform: rotate(-45deg);
}




.hero__inner {
    padding-top: 76px;
    position: relative;
}

.hero__title {
    display: block;
    font-weight: 600;
    font-size: 198px;
    line-height: .98;
    color: var(--color-light);
    max-width: 1073px;
    transform: translateX(-0.9%);
}

.hero__inner-img {
    max-width: 1143px;
    position: absolute;
    bottom: -9%;
    right: 0;
}

.hero__inner-img img {
    width: 100%;
}

/* .hero__title::after {
    content: "WITHIN";
    position: absolute;
    color: var(--bg-color-dark);
    text-shadow:
        -1px -1px 0 #ffffff4d,
        1px -1px 0 #ffffff4d,
        -1px 1px 0 #ffffff4d,
        1px 1px 0 #ffffff4d;
    font-weight: 600;
    font-size: 397px;
    line-height: .98;
    left: 54.5%;
    top: 12%;
    z-index: -1;
} */

.hero__info {
    position: relative;
    margin-top: -2.1%;
}

.hero__img {
    width: 100%;
}

.hero__arrow {
    background: var(--color-accent);
    width: 122px;
    height: 122px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: -61px;
    left: 50%;
    transform: translateX(-50%);

    transition: var(--transition);
}

.hero__arrow:hover {
    transform: translateX(-50%) scale(1.03);
    box-shadow: 0 8px 16px #00000033;
}

.hero__list {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(3, 1fr);
    color: var(--bg-color-dark);
}

.hero__item {
    background: var(--bg-light);
    transition: var(--transition);
}

.hero__item:hover {
    background-color: var(--color-accent);
    transform: translateY(-4px);
    border-color: var(--bg-color-dark);
}

.hero__link {
    display: block;
    height: 396px;
    padding: 56px 42px;
    position: relative;
}

.hero__subtitle {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.2em;
    color: var(--color-accent);
    margin-bottom: 20px;

    transition: color 0.4s ease;
}

.hero__link:hover .hero__subtitle {
    color: var(--bg-color-dark);
}

.hero__list-title {
    font-weight: 600;
    font-size: 42px;
    color: var(--bg-color-dark);

    transition: color 0.4s ease;
}

.hero__link:hover .hero__list-title {
    color: var(--color-light);
}

.hero__start {
    font-family: var(--second-family);
    font-weight: 700;
    line-height: 1.44;
    letter-spacing: 0.1em;

    position: absolute;
    bottom: 52.72px;
}

.hero__next {
    position: absolute;
    bottom: 52.72px;
    right: 42.44px;
}

/* ============================================================ */
.about__info {}

.main__about {
    padding-top: 146px;
    padding-right: 130px;
    padding-left: 216px;
    padding-bottom: 198px;
    position: relative;
}

.about {
    display: flex;
    gap: 15px;
    justify-content: space-between;

}

.about__title {}

.about__story {}

.about__mission {}

.button {}

.swiper {
    width: 850px;
    height: 769px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.swiper-slide {
    position: relative;
}

.swiper-slide>img {
    width: 476px;
}

.swiper__icon {
    width: 158px;
    height: 158px;
    background: var(--color-accent);
    border-radius: 50%;
    position: absolute;
    right: -9%;
    top: 12%;
    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper__icon::after {
    content: "";
    position: absolute;
    width: 174px;
    height: 174px;
    background: url("../img/icons/icon-protein-text.svg") no-repeat center/contain;
}

.swiper__icon-protein {
    position: relative;
    /* остаётся в центре благодаря flex */
    width: 60px;
    /* подгони размер */
    height: 60px;
}

.swiper__icon-text {
    width: 100%;
}

.swiper-pagination {
    position: absolute;
    right: 30px;
    top: 36%;
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.swiper-pagination-bullet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    cursor: pointer;
    background: var(--color-light);
    color: transparent;
    border-radius: 50%;
}

.swiper-pagination-bullet-active {
    background: var(--bg-color-dark);
    opacity: 1;
    color: var(--color-light);
    transform: scale(1.1);
    transition: var(--transition);
    font-weight: 400;
    font-size: 21px;
}

.swiper-pagination-bullet-active::after {
    content: "";
    position: absolute;
    width: 74px;
    height: 74px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 74px;
    border-radius: 50%;
    border: 5px solid #f47521;

    transition: var(--transition);
}

/* ================================================== */












/* ================================================== */
/* ================================================== */
/* ================================================== */
@media (max-width: 1800px) {

    .hero__arrow {
        width: 100px;
        height: 100px;
        top: -50px;
    }

    .hero__arrow svg {
        width: 50px;
    }

    .hero__list-title {
        font-weight: 500;
        font-size: 30px;
    }
}

@media (max-width: 1200px) {
    .hero__inner {
        padding-top: 50px;
    }

    .hero__title {
        font-weight: 500;
        font-size: 170px;
        margin: 0 auto;
        text-align: center;
    }

    .hero__inner-img {
        display: none;
    }

    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--bg-color-dark);
        padding: 26vh 15px 30px;
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    .hero__subtitle {
        font-size: 15px;
    }

    .hero__list-title {
        font-size: 25px;
    }

    .hero__arrow {
        width: 90px;
        height: 90px;
        top: -45px;
    }

    .hero__arrow svg {
        width: 40px;
    }

    .hero__link {
        height: 396px;
        padding: 40px 30px;
    }

    .hero__start {
        bottom: 40px;
    }

    .hero__next {
        bottom: 40px;
        right: 30px;
    }

    /* =================== */
}

@media (max-width: 1000px) {
    .hero__title {
        font-size: 120px;
    }

    .hero__img {
        z-index: -2;
    }

    .hero__list {
        grid-template-columns: none;
    }

    .hero__link {
        height: 280px;
    }

    .hero__info {
        position: relative;
        z-index: 0;
    }

    .hero__arrow {
        width: 80px;
        height: 80px;
        top: -40px;
    }
}

@media (max-width: 800px) {
    .header__logo {
        max-width: 140px;
    }

    .header__add {
        gap: 20px;
    }

    .hero__title {
        font-size: 100px;
    }

    .hero__arrow {
        width: 60px;
        height: 60px;
        top: -30px;
    }

    .hero__img {
        display: none;
    }

    .hero__arrow svg {
        width: 30px;
    }

    .hero__link {
        height: 220px;
    }

    .hero__start {
        bottom: 30px;
    }

    .hero__next {
        bottom: 30px;
    }

    .hero__info {
        position: relative;
        z-index: 0;
    }
}

@media (max-width: 600px) {
    .header__top-inner {
        padding-bottom: 40px;
    }

    .hero__inner {
        padding-top: 35px;
    }

    .header__logo {
        max-width: 120px;
    }

    .header__cart svg {
        width: 33px;
        height: 27px;
    }

    .header__search svg {
        width: 23px;
    }

    .header__cart::before {
        left: 23px;
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 450px) {
    .header__logo {
        max-width: 90px;
    }

    .hero__title {
        font-size: 80px;
    }

    .hero__link {
        padding: 25px 25px;
    }

    .hero__start {
        bottom: 25px;
    }

    .hero__next {
        right: 25px;
        bottom: 25px;
    }

    .hero__subtitle {
        margin-bottom: 10px;
    }

    .hero__list-title {
        font-size: 24px;
    }
}