.text1{
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}
.text2{
    text-decoration: line-through;
}
.text3{
    text-transform: uppercase;
    text-align: center;
}
.text4{
    word-spacing: 30px;
    text-decoration: overline wavy;
    text-shadow: 1px 1px 1px #e8b3fe;
}
.text5{
    letter-spacing: 5px;
    text-decoration: underline double;
}
